*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background:  rgba(89,148,221,1);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
h1{
    color:#2E2E3A;
    text-shadow: 2px 2px 2px #F34213;
    font-size: 60px;
    text-align: center;
    padding-top: 5px;
    text-transform: uppercase;
}
h2{
    color:#2E2E3A;
    margin:15px 10px;
    font-size: 40px;
}
p{
    color: #F34213;
    margin-top: 5px;
}
form{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 25px auto 0px;
}
.row{
    display: flex;
    flex:100%;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    margin: 5px;
    color:#2E2E3A;
}
.form-group{
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
}

.histo{
    flex-direction: column;
}
.full{
    width: 80vw;
    height: 35vh;
    padding: 10px;
}
input, select{
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 20px;
    color:#2E2E3A;
}
label{
    font-size: 18px;
    color:#2E2E3A;
}
.btns-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 600px;
    width: 100%;
}
a, button{ 
    padding: 10px;
    margin: 20px auto ;
    font-size: 25px;
    text-align: center;
    border: 1px solid #2e2e3a;
    border-radius: 10px;
    width: 25%;
    color:#F2F4FF;
}
a{
    background: #f34213;
    text-decoration: none;
}
button{
    background: #104911;  
}
table{
    display: table;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    border: 2px solid #2e2e3a;
}
th,td{
    padding: 5px;
    border: 1px solid #2e2e3a;
    text-align: center;
    height: auto;

}
tbody tr:nth-child(odd) {
    background-color: #5978dd;
    border-top: 1px solid #2e2e3a;
}
  
tbody tr:nth-child(even) {
    background-color:transparent;
    border-top: 1px solid #2e2e3a;
}
.action{
    display: flex;
    align-items: center;
    justify-content: center;
    border:none; 
} 
.action a{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 35px;
    width: 35px;
}

/* message */

.form-message{
    display:block;
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color:#2E2E3A;
}

/* affichage / suppression*/
.form-affichage{
    margin: 100px auto;
}
.form-affichage p{
    font-size: 20px;
    color:#2E2E3A;
}

/* admin index*/
.recherche {
    position: relative;
    display: flex;
    margin-bottom: 15px;
}
.recherche input{
    width: 100%;
    padding: 15px;
    font-size: 20px;
    outline: none;
    border: 1px solid #000;
    border-radius: 9999px;
    
}
.recherche button{
    width: 200px;
    position: absolute;
    right: 0;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 9999px;
}
.tooltip{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 0vh;
    left: 50%;
    transform: translate(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
}
.success{
    background: green!important;
}
.success:hover .tooltip{
    opacity: 1;
    visibility: visible;
}

.login{
    width: 80vw;
    margin-bottom: 20px;
}
.alert {
    width: 80vw;
    position: relative;
    padding: .75rem 1.25rem;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.logout{
    background: transparent;
    padding: 0;
    font-size: 15px;
    border: none;
    color: darkblue;
    position: absolute;
    top: 1vh;
    right: 0.5vw;
}
.precedent, .suivant{
    background: #bb0000;
    font-size: 16px;
    margin: 0;
    width: auto;
}
.precedent{
    margin-left: 15px;
}
.suivant{
    position: absolute;
    right: 15px;
}
